<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{{ site.title }} - {{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- Open Graph meta tags for social media -->
        <meta property="og:title" content="{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}" />
        <meta property="og:type" content="{% if page.layout == 'post' %}article{% else %}website{% endif %}" />
        <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
        <meta property="og:image" content="{{ site.url }}/img/min_logo.jpg" />
        <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
        <meta property="og:site_name" content="{{ site.title }}" />

        <!-- Twitter Card meta tags -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="@armish" />
        <meta name="twitter:title" content="{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}" />
        <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
        <meta name="twitter:image" content="{{ site.url }}/img/min_logo.jpg" />

        <!-- syntax highlighting CSS -->
	<link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">

        <!-- Custom CSS -->
	<link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">

	<!-- Feed -->
	<link href="{{ site.baseurl }}/atom.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} ATOM Feed">

    </head>
    <body>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-46748281-1', 'ergoso.me');
	  ga('send', 'pageview');

	</script>
    

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/" title="ergo sum">{{ site.title }}</a></h1>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
	        <b>B. Arman Aksoy</b><br />
		(<a href="https://arman.aksoy.org" target="_blank">about</a>)
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="http://github.com/armish/ergosome">@GitHub</a><br />
                <a href="https://www.linkedin.com/in/armanaksoy/">@LinkedIn</a><br />
                <a href="https://scholar.google.com/citations?user=GPRquTYAAAAJ&hl=en">@Google Scholar</a><br />
                <a href="http://twitter.com/armish">@Twitter</a><br />
              </p>
            </div>
	    <div class="contact">
		<p>
		<i>
			Except where otherwise noted,
			this work is <br />
			licensed under a 
			Creative Commons Attribution 3.0 License.
		</i>
		</p>
          </div>
        </div>

    </body>
</html>
