---
layout: default
---
<article class="post">
  <header>
    <h2>{{ page.title }}</h2>
    <p class="meta">{{ page.date | date: "%B %-d, %Y" }}</p>
  </header>

  <hr>

  <div class="post-content">
    {{ content }}
  </div>

  <hr>

  <footer>
    <p class="meta">
      {% if page.categories.size > 0 %}
        Categories:
        {% for category in page.categories %}
          <span class="category">{{ category }}</span>{% unless forloop.last %}, {% endunless %}
        {% endfor %}
      {% endif %}
    </p>
  </footer>
</article>
